@model List<Auction>
@{
    ViewData["Title"] = "Leilões";
}

<a class="btn btn-primary" role="button" asp-controller="Auction" asp-action="AuctionRegister">Cadastrar leilão</a>

<p class="h1">Leilão</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Início</th>
            <th scope="col">Fim</th>
            <th scope="col">Local</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            foreach(Auction item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DateStart</td>
                    <td>@item.DateEnd</td>
                    <td>@item.Local</td>
                    <td><a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Auction" asp-action="Details">Ver leilão</a></td>
                </tr>
            }
        }
    </tbody>
</table>